@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Well, if you go when the snowflakes storm */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

*, *:before, *:after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
/* fit 2 columns  */

/* End CSS Reset */

body {
	background-image: url("images/pink-cakes.jpg");
}

.greeting {
	background-color: #ffffff;
	opacity: 0.8;
	filter: alpha(opacity=70);/* For IE8 and earlier */
	padding:10px;
	width: 950px;
	margin: 0 auto;
}

#container {
	background-color: #feeff4;
	width: 950px;
	margin: 0 auto;
	margin-top: 50px;
	padding:10px;
	border: 1px dotted gray;
}

.grid {
  margin: 0 0 10px 0;
  /* Top Right Bottom Left */
  padding-bottom: 5px;
}


.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}


.col-1-7 {
	width: 14.2857%;
}

.grid h2 {
	font-family: 'Coming Soon', Arial, sans-serif;
	font-size: 20px;
	line-height: 1.3em;
	margin-bottom: 50px;
	border-top: 1px dotted gray;
}

.grid.front-row h2 {
	font-size: 20px;
	font-family: 'Coming Soon', Arial, sans-serif;
	color: #3f1313;
	margin-bottom: 20px;
	border-top: 0px;
}

h1 {
	font-family: 'Indie Flower', Arial, sans-serif;
	color: #3f1313;
	font-size: 35px;
	line-height: 1.3em;
	margin-left: 30px;
	margin-top: 10px;
}

p {
	font-family: 'Coming Soon', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3em;
	margin-left: 30px;
	margin-top: 20px;
}


.availability img {
	width: 35px;
	height: 35px;
	cursor: pointer;
}


/* modal stuff below */

.modalDialog {
	position: fixed;
	font-family: 'Coming Soon', arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #ffffff;
}

/* text design*/
.modalDialog {
	font-family: 'Coming Soon', Arial, sans-serif;
	font-size: 18px;
	color: #3f1313;
	line-height: 2.5em;
}

#modal-submit {
	font-family: 'Coming Soon', Arial, sans-serif;
	font-size: 16px;
	color:#ffffff;
	background-color: #ff76b4;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #ff76b4; }