/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Well, if you go when the snowflakes storm */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

*, *:before, *:after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
/* fit 2 columns  */

/* End CSS Reset */


body {
	background-color: #fffde6;
}

#container {
	width: 1024px;
	margin: 0 auto;
	background-color:white;
}

header {
		overflow: hidden;
		padding-bottom: 20px;
}

#title {
	font-family: 'Raleway', arial, sans-serif;
	font-size: 70px;
	font-weight: 700;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

header a{
	color:#47474a;
	text-decoration: none;
}

header a:hover{
	color:#ffa46b; 
	text-decoration:underline;/* roll over color change */
	/* text-decoration: underline; optional */
}

header nav{
	float:right;
	margin-top: 60px;
}

header nav ul li{
	float: left;
	margin-right: 20px;
}

header nav ul li a{
	font-family: 'Raleway', arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
}

/* grid stuff */

.grid{
/* 	overflow:hidden; same as clear:both*/
	margin-top: 45px;
}

.grid:after{
	content:"";
	display:table;
	clear:both;
}

[class*='col-']{
	float:left;
	padding: 0 30px;
}

[class*='col-']:last-of-type {
	padding-left: 0;
}

.col-1-3{
	width:33.33%;
}

.col-2-3{
	width:66.66%;
}

/* box */
.box {
	width: 200px;
    padding: 15px;
    margin: 20px 5px ;
	border: 1px solid gray;
	box-sizing: border-box;
	background-color: #f8f8f8;
}

.box h2{

	font-family:'Play', arial, sans-serif;
	font-size: 18px;
	color:#ff952c;
	margin-bottom: 5px;
}

.box ul li{
	font-family:'Ruluko', arial, sans-serif;
	font-size: 16px;
	color:blue;
	margin-bottom: 5px;
	
}

.box ul li a {
	color: blue;
	text-decoration: none;
}

.box ul li a:hover{ /* no space after ":" */
	color:purple;
	text-decoration: underline;
}

/* type design */

.grid h1{
	font-family: 'Play', arial, sans-serif;
	font-size: 30px;
	color:#ff952c;
	margin-bottom: 10px;
}

.grid p{
	margin-bottom: 10px;
	font-family:'Ruluko', arial, sans-serif;
	font-size: 16px;
	color:#424242;
	line-height: 1.3em;
}

.grid h2{
	font-size: 20px;
	font-family: 'Play', arial, sans-serif;
	margin-bottom: 10px;
	color:#ff952c;
}

/* Picture floats */
.picFloatLeft {
	float:left;
	margin:0 20px 20px 0;
}

.picFloatRight {
	float:right;
	margin:0 0px 20px 20px;
}











